body {
    font-family: 'Open Sans', sans-serif;
    background-color: #009688;
    padding: 0;
    margin: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;


    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    min-width: 500px;
    margin: 0;
}


.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://source.unsplash.com/1600x900/?weather');
    background-size: cover;
    background-position: center;
    text-align: center;
}
.title{
    line-height: 500px;
    font-size: xxx-large;
    color: white;
}

.navbar {
    width: 85%;
    margin-left: 10px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 77px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}
.site{
    height: 700px;
}