body {
    font-family: 'Open Sans', sans-serif;
    background-color: #009688;
    padding: 0;
    margin: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;


    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    min-width: 500px;
    margin: 0;
    background: linear-gradient(to top, #02e0cb 60%, #031c94 100%);
}



.title{
    line-height: 500px;
    font-size: 80px;
    color: white;
}

.navbar {
    width: 85%;
    margin-right: 10px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 20px;
    left: 79%;
}

.logo {
    width: 250px;
    height: 77px;
    cursor: pointer;
    position: absolute;
    left: 7%;
    top: 35px;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: 10px;
    transform: translateY(-75%);
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}


.head-text{
    background: linear-gradient(to top, #031c94 10%, #9007be 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.site{
    height: 2900px;
}