body {
    font-family: 'Open Sans', sans-serif;
    background-color: #009688;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    min-width: 500px;
    margin: 0;
}


.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 77px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.container{
    height: 2900px;
    background: linear-gradient(to top, #02e0cb 50%, #031c94 100%);
}

.head-text{
    background: linear-gradient(to top, #031c94 10%, #9007be 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.chart-container{
    margin: 7%;
}

.temp-chart-holder{
    height: 400px;
    width: 650px;
    float: left;

}

.humid-chart-holder{
    height: 400px;
    width: 650px;
    float: right;
}

.windspd-chart-holder{
    height: 400px;
    width: 650px;
    float: left;
}

.airpr-chart-holder{
    height: 400px;
    width: 650px;
    float: right;
}

